
.rowStyle {

}
.rowStyle:hover {
  /* box-shadow: inset 0px 0 0px 2px var(--gray2); */
}

.showOnHover {
    --hoverOpacity: 0;
}
.showOnHover:hover {
    --hoverOpacity: 1;
}

.highlightTextOnHover {
  color: var(--gray3);
}

.highlightTextOnHover:hover {
    color: var(--gray6);
}